@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Catamaran|Fira+Sans|Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

html {
  height: 100%;
  max-width: 100vw;
}

body {
  height: 100%;
  width: 100vw;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}
header {
  background-color: #222;
  height: 90px;
  width: 100vw;
  /* position: fixed; */
  background-image: url(../assets/brick.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -570px;
  z-index: 1;
  top: 0;
}
/* .menu {
  margin-right: 30px;
  background-color: #222;
  border: 2px solid white;
  border-radius: 2px;
  padding: 5px;
} */
.name {
  font-family:'Raleway', sans-serif;
  color: white;
  font-size: 1rem;
  margin-right: 20%;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.wrapper {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));
}

.neon-wrapper {
  box-shadow:
  0 0 0.1vw  0.4vw #ffc6fc,   
  0 0 0.4vw  0.6vw #c84bd8, 
  0 0   4vw  0.4vw #750b79,
  inset 0 0 1.5vw  0.4vw #750b79,
  inset 0 0 0.4vw  0.2vw #c84bd8,
  inset 0 0 0.5vw  0.2vw #ffc6fc;
  border-radius: .6rem;
  padding: 5px;
  margin: auto;
}


.neon-logo {
  font-family:'Unica One', cursive;
  font-size: 1.1rem;
  letter-spacing: 3px;
  color: #f9b7fc;
  margin: 0;
  text-shadow: 
  .1vw 0vw .25vw #ffc6fc, .2vw 0vw .25vw #ffc6fc, .4vw 0vw .25vw #ffc6fc, 
  .1vw 0vw   0vw #c84bd8, .2vw 0vw   0vw #c84bd8, .4vw 0vw   0vw #c84bd8,
  .1vw 0vw  .1vw #c84bd8, .2vw 0vw  .1vw #c84bd8, .4vw 0vw  .1vw #c84bd8,
  .1vw 0vw   2vw #c84bd8, .2vw 0vw   2vw #c84bd8, .4vw 0vw   2vw #c84bd8, 
  .1vw 0vw   1vw #750b79, .2vw 0vw   1vw #750b79, .4vw 0vw   5vw #750b79, 
  .1vw 0vw   5vw #750b79, .2vw 0vw  20vw #750b79, .4vw 0vw  10vw #750b79,
  .1vw 0vw  10vw #750b79, .2vw 0vw  30vw #750b79, .4vw 0vw  10vw #750b79;
}

.main {
  width:100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  box-sizing: border-box;
  width: 85%;
  max-width: 500px;
  height: 150px;
  background-color: #222;
  padding: 25px 15px;
  font-family: 'Fira Sans', sans-serif;
}

.greeting {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 14px;
}

.intro {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
}

.neon-name {
  font-family: 'Catamaran', sans-serif;
  font-size: 1rem;
  letter-spacing: 4px;
  color: #cffdd7;
  margin: 0 0 0 5px;
  text-shadow: 
  .1vw 0vw .25vw #cffdd7, .2vw 0vw .25vw #cffdd7, .4vw 0vw .25vw #cffdd7, 
  .1vw 0vw   0vw #63d436, .2vw 0vw   0vw #63d436, .4vw 0vw   0vw #63d436,
  .1vw 0vw  .1vw #63d436, .2vw 0vw  .1vw #63d436, .4vw 0vw  .1vw #63d436,
  .1vw 0vw   2vw #63d436, .2vw 0vw   2vw #63d436, .4vw 0vw   2vw #63d436, 
  .1vw 0vw   1vw #26740f, .2vw 0vw   1vw #26740f, .4vw 0vw   5vw #26740f, 
  .1vw 0vw   5vw #26740f, .2vw 0vw  20vw #26740f, .4vw 0vw  10vw #26740f,
  .1vw 0vw  10vw #26740f, .2vw 0vw  30vw #26740f, .4vw 0vw  10vw #26740f;
  animation-name: flicker;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-delay: 15s;
}
@keyframes flicker {
  0%     {text-shadow: 
    .1vw 0vw .25vw #cffdd7, .2vw 0vw .25vw #cffdd7, .4vw 0vw .25vw #cffdd7, 
  .1vw 0vw   0vw #63d436, .2vw 0vw   0vw #63d436, .4vw 0vw   0vw #63d436,
  .1vw 0vw  .1vw #63d436, .2vw 0vw  .1vw #63d436, .4vw 0vw  .1vw #63d436,
  .1vw 0vw   2vw #63d436, .2vw 0vw   2vw #63d436, .4vw 0vw   2vw #63d436, 
  .1vw 0vw   1vw #26740f, .2vw 0vw   1vw #26740f, .4vw 0vw   5vw #26740f, 
  .1vw 0vw   5vw #26740f, .2vw 0vw  20vw #26740f, .4vw 0vw  10vw #26740f,
  .1vw 0vw  10vw #26740f, .2vw 0vw  30vw #26740f, .4vw 0vw  10vw #26740f;
  }
  1%    {text-shadow: none;}
  2%   {text-shadow: 
  .1vw 0vw .25vw #cffdd7, .2vw 0vw .25vw #cffdd7, .4vw 0vw .25vw #cffdd7, 
  .1vw 0vw   0vw #63d436, .2vw 0vw   0vw #63d436, .4vw 0vw   0vw #63d436,
  .1vw 0vw  .1vw #63d436, .2vw 0vw  .1vw #63d436, .4vw 0vw  .1vw #63d436,
  .1vw 0vw   2vw #63d436, .2vw 0vw   2vw #63d436, .4vw 0vw   2vw #63d436, 
  .1vw 0vw   1vw #26740f, .2vw 0vw   1vw #26740f, .4vw 0vw   5vw #26740f, 
  .1vw 0vw   5vw #26740f, .2vw 0vw  20vw #26740f, .4vw 0vw  10vw #26740f,
  .1vw 0vw  10vw #26740f, .2vw 0vw  30vw #26740f, .4vw 0vw  10vw #26740f;
}
  98%   {text-shadow: 
  .1vw 0vw .25vw #cffdd7, .2vw 0vw .25vw #cffdd7, .4vw 0vw .25vw #cffdd7, 
  .1vw 0vw   0vw #63d436, .2vw 0vw   0vw #63d436, .4vw 0vw   0vw #63d436,
  .1vw 0vw  .1vw #63d436, .2vw 0vw  .1vw #63d436, .4vw 0vw  .1vw #63d436,
  .1vw 0vw   2vw #63d436, .2vw 0vw   2vw #63d436, .4vw 0vw   2vw #63d436, 
  .1vw 0vw   1vw #26740f, .2vw 0vw   1vw #26740f, .4vw 0vw   5vw #26740f, 
  .1vw 0vw   5vw #26740f, .2vw 0vw  20vw #26740f, .4vw 0vw  10vw #26740f,
  .1vw 0vw  10vw #26740f, .2vw 0vw  30vw #26740f, .4vw 0vw  10vw #26740f;
}
  99%   {text-shadow: none;}
  100%   {text-shadow: 
  .1vw 0vw .25vw #cffdd7, .2vw 0vw .25vw #cffdd7, .4vw 0vw .25vw #cffdd7, 
  .1vw 0vw   0vw #63d436, .2vw 0vw   0vw #63d436, .4vw 0vw   0vw #63d436,
  .1vw 0vw  .1vw #63d436, .2vw 0vw  .1vw #63d436, .4vw 0vw  .1vw #63d436,
  .1vw 0vw   2vw #63d436, .2vw 0vw   2vw #63d436, .4vw 0vw   2vw #63d436, 
  .1vw 0vw   1vw #26740f, .2vw 0vw   1vw #26740f, .4vw 0vw   5vw #26740f, 
  .1vw 0vw   5vw #26740f, .2vw 0vw  20vw #26740f, .4vw 0vw  10vw #26740f,
  .1vw 0vw  10vw #26740f, .2vw 0vw  30vw #26740f, .4vw 0vw  10vw #26740f;
}
}
.media .neon-name {
  margin: auto;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 11px;
  width: 110px;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 60px;
  animation-name: 'social';
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes social {
  0%  {transform: translateX(-200px)}
  100% {transform: translateX(15px)}
}
.quote-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background-color: #222; */
  width:100%;
}
#quote-1 {
  width: 100%;
  max-width: 600px;
  height: 120px;
  border: 3px solid #f3daff;
  border-right: none;
  box-sizing: border-box;
  padding: 20px; 
  background-image: url(../assets/good-times.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.4; */
  position:absolute;
  background-position-y: -60px;
}
#quote-2 {
  width: 100%;
  max-width: 600px;
  height: 120px;
  box-sizing: border-box;
  position: relative;
  /* box-sizing: content-box; */
  top: 0;
  left: 0;
  padding: 10px;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));
}
.quote {
  font-family: 'Big Shoulders Display';
  font-size: .9rem;
  color: #ffc6fc;
  line-height: 1.1em;
  text-align: end;
}
.media {
  background-color: #222;
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
.types {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card {
  width:80%;
  max-width: 300px;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px 20px;
}
.spot {
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  border:1px solid #222;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 10px #111;
}
.spot:hover {
  box-shadow: 5px 5px 20px #111;
}
.gallery {
  background-image: url(../assets/sign.jpg);
}
.image {
  background-image: url(../assets/profile.jpg);
}
.subtitle {
  font-family: 'Unica One', cursive;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
.footer {
  background-color: white;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content:center;
}
.footer a {
  color: #222;
  font-family: 'Unica One', cursive;
  text-decoration: none;
}

/* @media (min-width:680px) {
  .name {
    position: absolute;
    left: 180px;
  }
  #quote-1, #quote-2 {
    width: 600px;
    height: 150px;
    padding:5px;
  }
  .quote-section {
    height: 150px;
  }
}
.types {
  flex-direction: row;
  flex-wrap: wrap;
}
.types > .neon-name {
  justify-items: flex-start;
}
@media (min-width: 800px) {
  .social {
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    font-size: 16px;
    margin-top: 0;
    margin-left: 0px;
    padding: 10px 8px 10px 12px;
    width: auto;
    position: absolute;
    top: 270px;
  }
  .text {
    position: absolute;
    left: 250px;
  }
 #neon2 {
    text-shadow: none;
    animation-name: none;
    margin-left: 100px;
  }
}
@media (min-width: 992px) {
  .text {
    max-width: 600px;
    position: absolute;
    left: 300px;
  }
  .greeting {
    font-size:22px;
  }
  .intro {
    font-size: 15px;
  }
  .social {
    font-size: 18px;
    background-color: #111;
  }
}
@media (min-width: 1150px) {
  .text {
    left: 360px;
  }
  .social {
    position: fixed;
    font-size: 20px;
  }
} */